{% extends 'base.html.twig' %}

{% block body %}

    <div class="section section-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <p class="category">Tabs with Icons on Card</p>

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                        <i class="now-ui-icons objects_umbrella-13"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                        <i class="now-ui-icons shopping_cart-simple"></i>
                                        Profile
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                                        <i class="now-ui-icons shopping_shop"></i>
                                        Messages
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                                        <i class="now-ui-icons ui-2_settings-90"></i>
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">

                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home" role="tabpanel">
                                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                </div>
                                <div class="tab-pane" id="profile" role="tabpanel">
                                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                </div>
                                <div class="tab-pane" id="messages" role="tabpanel">
                                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                </div>
                                <div class="tab-pane" id="settings" role="tabpanel">
                                    <p>
                                        "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                    <p class="category">Tabs with Background on Card</p>

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Messages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">

                            <div class="tab-content text-center">
                                <div class="tab-pane active" id="home1" role="tabpanel">
                                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                </div>
                                <div class="tab-pane" id="profile1" role="tabpanel">
                                    <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                </div>
                                <div class="tab-pane" id="messages1" role="tabpanel">
                                    <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                </div>
                                <div class="tab-pane" id="settings1" role="tabpanel">
                                    <p>
                                        "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="space-70"></div>
            <div id="contentAreas" class="cd-section">
                <h3 class="title">Content Areas</h3>

                <div id="tables">
                    <div class="title">
                        <h3><small>Tables</small></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><small>Shopping Cart Table</small></h4>
                        </div>
                        <div class="col-md-12">
                            <div class="card card-plain">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-shopping">
                                            <thead class="">
                                            <tr><th class="text-center">
                                                </th>
                                                <th>
                                                    Product
                                                </th>
                                                <th>
                                                    Color
                                                </th>
                                                <th>
                                                    Size
                                                </th>
                                                <th class="text-right">
                                                    Price
                                                </th>
                                                <th class="text-right">
                                                    Qty
                                                </th>
                                                <th class="text-right">
                                                    Amount
                                                </th>
                                            </tr></thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="img-container">
                                                        <img src="./assets/img//saint-laurent.jpg" alt="...">
                                                    </div>
                                                </td>
                                                <td class="td-name">
                                                    <a href="#jacket">Suede Biker Jacket</a>
                                                    <br><small>by Saint Laurent</small>
                                                </td>
                                                <td>
                                                    Black
                                                </td>
                                                <td>
                                                    M
                                                </td>
                                                <td class="td-number">
                                                    <small>€</small>3,390
                                                </td>
                                                <td class="td-number">
                                                    1
                                                    <div class="btn-group">
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                                    </div>
                                                </td>
                                                <td class="td-number">
                                                    <small>€</small>549
                                                </td>
                                                <td class="td-actions">
                                                    <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-neutral" data-original-title="Remove item">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="img-container">
                                                        <img src="./assets/img//balmain.jpg" alt="...">
                                                    </div>
                                                </td>
                                                <td class="td-name">
                                                    <a href="#pants">Jersey T-Shirt</a>
                                                    <br><small>by Balmain</small>
                                                </td>
                                                <td>
                                                    Black
                                                </td>
                                                <td>
                                                    M
                                                </td>
                                                <td class="td-number">
                                                    <small>€</small>499
                                                </td>
                                                <td class="td-number">
                                                    2
                                                    <div class="btn-group">
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                                    </div>
                                                </td>
                                                <td class="td-number">
                                                    <small>€</small>998
                                                </td>
                                                <td class="td-actions">
                                                    <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-neutral" data-original-title="Remove item">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="img-container">
                                                        <img src="./assets/img//prada.jpg" alt="...">
                                                    </div>
                                                </td>
                                                <td class="td-name">
                                                    <a href="#nothing">Slim-Fit Swim Short</a>
                                                    <br><small>by Prada</small>
                                                </td>
                                                <td>
                                                    Red
                                                </td>
                                                <td>
                                                    M
                                                </td>
                                                <td class="td-number">
                                                    <small>€</small>200
                                                </td>
                                                <td class="td-number">
                                                    1
                                                    <div class="btn-group">
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-delete"></i> </button>
                                                        <button class="btn btn-info btn-sm"> <i class="now-ui-icons ui-1_simple-add"></i> </button>
                                                    </div>
                                                </td>
                                                <td class="td-number">
                                                    <small>€</small>799
                                                </td>
                                                <td class="td-actions">
                                                    <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-neutral" data-original-title="Remove item">
                                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                </td>
                                                <td class="td-total">
                                                    Total
                                                </td>
                                                <td class="td-price">
                                                    <small>€</small>2,346
                                                </td>
                                                <td colspan="3" class="text-right">
                                                    <button type="button" rel="tooltip" class="btn btn-info btn-round " data-original-title="" title="">
                                                        Complete Purchase
                                                        <i class="now-ui-icons arrows-1_minimal-right"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-50"></div>
            </div>
        </div>
    </div>
{% endblock  body %}
