<header class="header-2">
    <div class="page-header mx-4 mb-0 mt-6 border-radius-xl min-vh-75" style="background-image: url({{ asset('build/images/ARMONY-RHO-3-0-scaled.21851c0e.jpg') }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="text-white pt-3 mt-n6 display-2 font-weight-bolder">Kis Rénovation</h1>
                    <h2 class="text-white ">Design System Pro</h2>
                    <p class="lead text-white mt-3 font-weight-normal">Simple and innovative Web UI Kit built on top of Bootstrap 5. Join over 1.5 million developers around the world.</p>
                </div>
            </div>
        </div>
    </div>
</header>